/* BASIC SETUP */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/raster/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-full {
  &:link,
  &:visited {
    background-color: $orange;
    border: 1px solid $orange;
    color: #fff;
    margin-right: 15px;
  }
  &:hover,
  &:active {
    background-color: $dark-orange;
    border: 1px solid $dark-orange;
  }
}

.btn-ghost {
  &:link,
  &:visited {
    border: 1px solid $orange;
    color: $orange;
  }
  &:hover,
  &:active {
    border: 1px solid $dark-orange;
    color: #fff;
  }
}

.logo {
  width: 100px;
  height: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;

  li {
    display: inline-block;
    margin-left: 40px;
    a {
      &:link,
      &:visited {
        padding: 8px 0;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
      }

      &:hover,
      &:active {
        border-bottom: 2px solid $orange;
      }
    }
  }
}
