/* BASIC SETUP */
@include google-font("Lato:100,300,400,300italic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  background: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #555;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 0.8rem;
  line-height: 1.2;
  letter-spacing: 0.3px;
}
/* HEADINGS */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 2.4rem;
  word-spacing: 4px;
}

h2 {
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: $orange;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

/* BUTTONS */
.btn {
  &:link,
  &:visited {
    @include btn;
  }
  &:hover,
  &:active {
    @include btn-hov;
  }
}

section {
  padding: 80px 0;
}
